<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/pcap4j-sample/src/main/java/org/pcap4j/sample/Loop.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.pcap4j.sample.Loop"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="pcap4j-sample"/>
</launchConfiguration>
